body {margin: 0px;}

#logo {
	width: 38px;
	height: 39px;
	background-image: url(../img/icon.png);
	margin-top: 15px;
	float: left;
}

/* container */
.container {
	max-width: 962px;
	margin: 0px auto;
}

/* wrapper */
.wrapper {
	overflow: auto;
}

/*===================================================*/

/* header */
.header {
	background-color: #4A4A4A;
	width: 100%;
	height: 73px;
}

/* menu */
.menu {
	overflow: auto;
}

.menu_ul {
	margin-top: 27px;
	list-style-type: none;
}

.menu_li {
	font-size: 17px;
	float: left;
	margin-right: 25px;
}

.menu_a {
	color: #F2F2F2;
	text-decoration: none;
}

.menu_a:hover {
	color: #E74635;
}

/*===================================================*/

/* subtitle */
.subtitle {

}
/* search */
.wrapper_search {
	display: flex;
	align-items: center;
	height: 70px;
	margin: auto;
}

.shop_button {
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100px;
	height: 35px;
	float: left;
	border: solid #E5E5E5 1px;
}

.shop_button_a {
	color: #0089D0;
	text-decoration: none;
}

.search {
	display: inline-block;
	float: left;
}

.search_button {
	background-color: #0089D0;
	width: 45px;
	height: 37px;
	display: flex;
}

/*--------------------------------------------------*/
/* subtitle_menu */
.subtitle_menu {
	width: 100%;
	height: 65px;
	border-top: solid #E5E5E5 1px;
}

.subtitle_menu_button1 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button2 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button3 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button4 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button5 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button6 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button7 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button8 {border-left: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}
.subtitle_menu_button9 {border-left: solid #E5E5E5 1px;border-right: solid #E5E5E5 1px;	height: 65px;float: left; font-size: 14px; padding: 0px 10px; display: flex; align-items: center;}

.subtitle_menu_a {
	text-decoration: none;
	color: #0089D0;
}

/*---------------------------------------------------*/
.subtitle_banner {
	background-color: #6FB4E7;
	width: 100%;
	height: 360px;
}


/*===================================================*/

/* content */
.content {
	
}

/*---------------------------------------------------*/
/* products-1 */

.products_1 {
	overflow: auto;
	margin-top: 15px;
}

.products_1-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_1-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_1-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_1-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_1-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}
/*---------------------------------------------------*/
/* products-2 */
.products_2 {
	overflow: auto;
	margin-top: 15px;
}

.products_2-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_2-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_2-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_2-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_2-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}
/*---------------------------------------------------*/
/* products-3 */
.products_3 {
	overflow: auto;
	margin-top: 15px;
}

.products_3-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_3-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_3-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_3-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_3-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}
/*---------------------------------------------------*/
/* products-4 */
.products_4 {
	overflow: auto;
	margin-top: 15px;
}

.products_4-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_4-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_4-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_4-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_4-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}
/*---------------------------------------------------*/
/* products-5 */
.products_5 {
	overflow: auto;
	margin-top: 15px;
}

.products_5-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_5-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_5-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_5-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_5-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}
/*---------------------------------------------------*/
/* products-6 */
.products_6 {
	overflow: auto;
	margin-top: 15px;
}

.products_6-text {
	font-size: 30px;
	margin: 15px 0px;
}

.products_6-1 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

.products_6-2 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
}
.products_6-3 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border-top: solid #E5E5E5 1px;
	border-bottom: solid #E5E5E5 1px;
	border-left: solid #E5E5E5 1px;
}
.products_6-4 {
	background-color: ;
	width: 239px;
	height: 343px;
	float: left;
	border: solid #E5E5E5 1px;
}

/*====================================================*/

/* footer */
.footer {
	background-color: ;
	width: 100%;
	height: 100px;
}

input {
	width: 500px;
	height: 33px;
	border: solid #E5E5E5 1px;
	border-left: 0px;
}
